body {
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin-left: 30px;
}

hr {
  border-color: hsl(215, 51%, 70%);
  width: 85%;
}

p {
  color: hsl(215, 51%, 70%);
  font-size: 1.125rem;
  margin-left: 30px;
  font-weight: 100;
  line-height: 1.5;
}

span {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

.phone-screen {
  border-radius: 10%;
  background-color: hsl(216, 50%, 16%);
  height: 650px;
  width: 375px;
  margin: 100px auto;
}

.equilibrium {
  height: 315px;
  width: 315px;
  border-radius: 10%;
  margin: 30px 30px auto 30px;
  position: relative;
}

.eth-icon {
  position: absolute;
  margin-left: 30px;
  margin-top: 5px;
}

.eth-amount {
  position: absolute;
  margin: 0 auto auto 50px;
  color: hsl(178, 100%, 50%);
}

.clock-icon {
  position: absolute;
  margin-left: 240px;
  margin-top: 5px;
}

.time-left {
  position: relative;
  text-align: right;
  right: 30px;
}

.avatar {
  height: 50px;
  width: 50px;
  position: absolute;
  margin-left: 30px;
  margin-top: 10px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.copyright {
  margin: 30px auto auto 90px;

}
